<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS Tutorial</title>
  </head>
  <style>
    body {
      min-height: 100vh;
      font-size: 1rem;
      font-family: cursive;
    }
    main {
      margin: 100px auto 0;
    }
    h2 {
      text-align: center;
      color: darkblue;
    }
    img {
      object-fit: cover;
      object-position: center;
    }
  </style>
  <body>
    <main>
      <h2>A Beautiful Nature Scene</h2>
      <img
        src="./images/nature.jpg"
        alt="nature scene"
        width="500"
        loading="lazy"
      />
    </main>
  </body>
</html>
